body{
	font: 20px Arial, sans-serif;
}

.navbar{
	background-color: #BDC3C7;
}

.quemsomos{
	background-color: #7FB3D5;
	color: black;
}

.margin{
	padding-bottom: 50px;
	padding-top: 10px;

}

.parceiros{
	background-color: #BB8FCE;
	color: black;
}

.servicos{
	background-color: #EDBB99;
	color: black;
}

.bg-footer{
	background-color: #1C2833;
	color: white;
}